[user]
	name = Ronuk Raval
	email = ronuk.raval@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    whitespace = trailing-space,space-before-tab
[apply]
    whitespace = fix
[alias]
    # working -> index
    ap = add -p
    com = commit
    mcom = merge --no-ff
    acom = commit --amend
    fixup = "!f() { git commit --fixup=$1 && git rebase -i $1^ --autosquash; }; f"

    # information
    st = status -sb
    d = diff
    cached = diff --cached
    stat = diff --stat
    merged = branch --merged
    unmerged = branch --no-merged
    graph = log --graph --oneline --all --decorate

    # index -> working
    b = branch
    br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:green)%(refname:short)%(color:reset): %(color:red)%(objectname:short)%(color:reset) %(contents:subject) %(color:yellow)(%(authorname) %(committerdate:relative))%(color:reset)'
    co = checkout
    fliptable = "!echo '(╯°□°）╯︵ ┻━┻'; git reset --hard HEAD"
    flipup = "!echo '┬─┬ ノ( ゜-゜ノ)'; git reset --hard '@{u}'"

    # dealing with others
    up = "!git fetch && git rebase -p"
    cont = rebase --continue
    ff = merge --ff-only

    # miscellaneous
    desc = "!git config branch.$(git symbolic-ref --short HEAD).description"
    edesc = branch --edit-description
    j = jump
    subtree = subtree.sh
[merge]
	tool = splice
	conflictstyle = diff3
[push]
	default = simple
[mergetool]
	keepBackup = false
[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
[rebase]
    autosquash = true
