[user]
	name = Ronuk Raval
	email = ronuk.raval@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    whitespace = fix
[alias]
    acom = commit -a
    b = branch
    cached = diff --cached
    co = checkout
    com = commit
    d = diff
    fliptable = "!echo '(╯°□°）╯︵ ┻━┻'; git reset --hard HEAD"
    j = jump
    p = pull
    st = status
    stat = diff --stat
    subtree = subtree.sh
    up = pull --rebase
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[push]
	default = simple
