[user]
	name = Ronuk Raval
	email = ronuk.raval@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    whitespace = fix
[alias]
    # working -> index
    ap = add -p
    com = commit
    mcom = merge --no-ff

    # information
    st = status -sb
    d = diff
    cached = diff --cached
    stat = diff --stat

    # index -> working
    b = branch
    co = checkout
    fliptable = "!echo '(╯°□°）╯︵ ┻━┻'; git reset --hard HEAD"

    # dealing with others
    up = "!git fetch && git rebase -p"
    cont = rebase --continue
    ff = merge --ff-only

    # miscellaneous
    j = jump
    subtree = subtree.sh
    graph = log --graph --oneline --all --decorate
[merge]
	tool = splice
	conflictstyle = diff3
[push]
	default = simple
[mergetool]
	keepBackup = false
[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
